
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="/"><img src="/img/packlogo.png" class="logo"></a>
        </div>
    </div>
</div>
 

{{# if cartItems }}

<div class="container">

  <div class="row content">
    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">

        <h2>YOUR CART</h2>
        <p>Savor your college days daily</p>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
           {{#each cartItems}}
              <td><img style="max-height:40px;" src="{{this.item.imagePath}}"/></td>
              <td style="text-align:left;">{{this.item.title}}</td>
              <td>${{this.item.price}}</td>
              <td>{{this.qty}}&nbsp;&nbsp; <a href="/increase/{{this.item._id}}"> <i class="fa fa-caret-up" aria-hidden="true"></i></a> <a href="/reduce/{{this.item._id}}"><i class="fa fa-caret-down" aria-hidden="true"></i</a> </td>
              <td>${{this.price}}&nbsp;&nbsp;  <a href="/remove/{{this.item._id}}">Remove</a></td>
              
          
            </tr>
           {{/each}}  
          </tbody>
        </table>
   </div>
  </div>

  <div class="row content">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Cart Totals</h2>
        
        <table class="table">

          <tbody class="text-left">
            <tr>
              <td>Total Items</td>
              <td>{{CartTotals.cart.totalQty}}</td>
              
            </tr>
            <tr>
              <td>Cart Subtotal</td>
              <td>${{CartTotals.cart.totalPrice}}</td>
              
            </tr>
            <tr>
              <td>Shipping</td>
              <td>$5</td>
              
            </tr>
            <tr>
              <td>Order Total</td>
              <td style="color:#960000;"><strong>${{CartTotals.cart.plusShipping}}</strong></td>
              
            </tr>
            
          </tbody>
        </table>

        <a href="/checkout" type="button" class="btn btn-danger" style="padding:15px; margin-bottom:40px;font-size:1.1em;"><strong>Checkout</strong></a>

   </div>
   </div>
  {{ else }}
    <div class="row">
        <div class="text-center col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h3>There is no Items in Cart, Let's drink some coffee!</h3>
            <img src="/img/coffee.gif">
        </div>
    </div>
{{/if}}
</div>



<!-- sssssss -->





<!-- {{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.qty }}</span>
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                <li><a href="/remove/{{this.item._id}}">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>Total: {{ totalPrice }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in Cart</h2>
        </div>
    </div>
{{/if}} -->